/* GENERAL */
body {
    min-height: 100%;
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

/* LOGIN FRAME */
.login {
    position: absolute;
    width: 600px;
    height: 220px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -175px;
}

.login h1 {
    font-size: 70px;
}

/* STREAMS FRAME */
.heading-container {
    padding-left: 40px;
    padding-right: 40px;
}

h1 .btn {
    margin-bottom: 10px;
}

.channels-container {
    margin-top: 50px;
    padding-right: 40px;
}

.stream-card {
    padding-left: 40px;
    position: relative;
    overflow: hidden;
    margin-bottom: 55px;
    cursor: pointer;
}

.stream-card:hover {
    background-color: rgba(0,0,0,0.3);
    transition: 1s;
}

.stream-card h3 {
    margin-top: 8px;
}

.stream-card h4 {
    margin-left: 75px;
}

.stream-card img.preview {
    position: absolute;
    top: -30px;
    right: -30px;
    transform: rotate(12deg);
}

.stream-card:hover img.preview {
    transition: 200ms;
    right: -10px;
}

.stream-card .sub-card {
    display: inline-block;
}

.stream-card img.avatar {
    position: absolute;
    left: 40px;
    bottom: 5px;
    width: 60px;
    height: 60px;
}
