html {
    height: 100vh;
}

body {
    min-height: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
}

div.stream-details {
    height: 25px;
    background-color: #f2f2f2;
}

div.viewers-container {
    position: absolute;
    right: 5px;
    font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
